table, th, td {
    border-collapse: collapse;
    border: black  1px solid;
    padding: 3px 12px;
}
table {
    height: 500px;
}

main{
    padding: 50px;
}

section{
    display: flex;
    justify-content: center;
}
#picture {
    border: 1px black solid;
    margin-left: 30px;
}

#product {
    margin-left: 30px;

    display: block;
    border: black 1px solid;
    text-decoration: none;
    color: black;
    height: 360px;
}
#product img {
    border-bottom: black 1px dashed;
}
#product article {
    text-align: center;
}




/*Media querry (Tablet) TODO*/
@media screen and (max-width: 768px){ /* and (min-width: 425px) */
    * {
        background: green;
    }
    section{
        flex-direction: column;

    }
    main a {
        width: 270px;
    }
     main a, #picture{
        margin-top: 20px;
    }
}

/*Media querry (Phones) TODO*/
@media screen and (max-width: 500px) {
        * {
            background: yellow;
        }
    table{
        width: 10px;
    }
}