main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "map info";
    justify-items: center;
    align-items: center;
}

/*.contacts, .map {*/
/*    align-items: center;*/
/*    margin: auto;*/
/*}*/

iframe {
    box-shadow: 5px 10px lightgray;
    margin: 40px;
    height: 650px;
    width: 600px;
    aspect-ratio: 1/1;
}

tr td:first-child {
    padding-right: 15px;
}

.contacts {
    grid-area: info;
}
.map {
    grid-area: map;
}

/*Media querry (Tablet) TODO*/
@media screen and (max-width: 768px) {

    main{
        grid-template-areas: "map"  "info";
    }

}

/*Media querry (Phones) TODO*/
@media screen and (max-width: 500px) {

    iframe{
        width: 340px;
        height: 340px;
    }

}