main {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
}

main h2 {
    /*font-size: 1.5em;*/
    /*margin-top: 0;*/
    /*padding-bottom: 5px;*/
    border-bottom: 1px solid darkgrey;
}

details {
    margin-bottom: 10px;

}

details>p{
    padding: 0 0 0 40px;
}
main ul {
    margin: 5px 0;
    /*list-style: none;*/
}

main li {
    margin: 5px 0;
}


/*Media querry (Tablet) TODO*/
/*Media querry (Phones) TODO*/