/*image general*/
.what_do_we_sell,.who-are-we {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 5px;
}
.text {
    font-size: 20px;
    padding: 0 20px;
}

.text * {
    margin: 0 0 15px 0;
}
/*image 1 specific*/
.what_do_we_sell .image {
height: 400px;
}
/*image 2 specific*/
.who-are-we .image {
    height: 460px;
}

/*testimonials*/
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 5px;
}
.testimonial {
    flex-basis: 250px;
    margin-bottom: 20px;
}

.testimonials article {
    padding: 4px;
    border: black 3px solid;
    margin: 0 40px 10px;

}
.testimonials cite {
    align-items: center;
    justify-content: center;
    display: flex;
}

blockquote {
    padding: 0;
    margin: 15px 5px;
}

/*Media querry (Tablet) TODO*/
@media screen and (max-width: 768px){ /* and (min-width: 425px) */
    .what_do_we_sell{
        flex-direction: column;
    }
    .who-are-we {
        flex-direction: column-reverse;
    }
    /*maybe h5 margin top */
}

/*Media querry (Phones) TODO*/
@media screen and (max-width: 500px) {
    .what_do_we_sell img {
        width: 100%;
    }
    .who-are-we img {
        width: 100%;
    }
}







