/*span::before {*/
/*    content: "here lies a span";*/
/*}*/

.req::before {
    color: red;
    vertical-align: super;
    content: "*";
}

span {
    color: red;
    font-variant: small-caps;
}

form {
    display: grid;
    grid-template-areas: "geg pers"
                         "pe2 pe2"
                         "but but";
    grid-gap: 10px;
}


#gegevens {
    display: grid;
    grid-area: geg;
}

#personalisering-van-mok {
    display: grid;
    grid-area: pers;
}

#personalisering-van-verpakking {
    display: grid;
    grid-area: pe2;
}

/*#personalisering-van-verpakking #onderlegger*/
input[type=checkbox] {
    margin-left: 10px;
    width: 30px;
}

#submit {
    grid-area: but;
}

label {
    margin: 10px 0 5px 0;
}

input[type=submit] {
    height: 50px;
}

input[type=color] {
    height: 30px;
    width: 50px;
}

/*js css*/
.validinput {
    background: lightgreen;
}

/*Media querry (Tablet) TODO*/
@media screen and (max-width: 768px) {

}

/*Media querry (Phones) TODO*/
@media screen and (max-width: 500px) {


    form {

        grid-template-areas:
                         "geg"
                         "pers"
                         "pe2"
                         "but";
    }

}