/*breadcrumb nav styling*/

.Breadcrumb ol {
    list-style: none;
    padding: 0 0 0 50px;
}

.Breadcrumb li {
    display: inline-block;
}

.Breadcrumb li:not(:last-child)::after {
    content: ">";
}

.Breadcrumb a {
    text-decoration: none;
    color: black;
}

.Breadcrumb a:hover {
    text-decoration: underline;
}

/*item description*/
#item {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "img name"
    "img description"
    "img price"
    "tablee tablee";
    grid-gap: 15px;
    margin-top: 10px; /*uses margin collapse*/
}

#item img {
    grid-area: img;
}

#item h2 {
    grid-area: name;
    margin: 0;
    align-self: center;
}

/* next 3 zin overbodig maar better save*/
.description {
    grid-area: description;
    background-color: lightgray;
    border: darkgrey 2px dotted;
}

.price {
    grid-area: price;
}

.eig-table {
    grid-area: tablee;
}

/*table styling*/
table, th, td {
    border-collapse: collapse;
}

th {
    border: black 1px solid;

}

tr td:first-child {
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    text-align: right;
}

tr td:last-child {
    border-bottom: black 1px solid;
    border-right: black 1px solid;
}

td {
    height: 30px;
    width: 120px;
}


/*Media querry (Tablet) TODO*/
@media screen and (max-width: 768px) {

    #item {
        grid-template-areas:
    "img"
    "name"
    "description"
    "price"
    "tablee";

        margin-left: 40px;
    }

}

/*Media querry (Phones) TODO*/
@media screen and (max-width: 500px) {
    #item img {
        width: 330px;
    }
    #item{
        margin-left: 20px;
    }
    .description,h2,.price,.eig-table{
        width: 363px;
    }
}
