/*filter styling*/

main {
    display: flex;
}

.filter {
    min-width: 210px;
}

.filter form {
    margin: 30px 50px 10px 10px;
    border: black 1px solid;
    padding: 10px;
}

.filter .filterBaseColor label {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
}

.producten {
    flex-grow: 1;
}

main>input[type=radio] {
    display: none;
}

input[value="White"]:checked ~ .filter label[for="filter1.1"],
input[value="Black"]:checked ~ .filter label[for="filter1.2"],
input[value="Blue"]:checked ~ .filter label[for="filter1.3"],
input[value="Green"]:checked ~ .filter label[for="filter1.4"],
input[value="All"]:checked ~ .filter label[for="filter1.5"] {
    background: black;
    color: white;
}

input[value="White"]:checked ~ .producten a.White,
input[value="Black"]:checked ~ .producten a.Black,
input[value="Blue"]:checked ~ .producten a.Blue,
input[value="Green"]:checked ~ .producten a.Green,
input[value="All"]:checked ~ .producten a.All {
    display: initial;
}

.producten a.All {
    display: none;
}


/*artikels styling*/
.cilinderTas, .curvedKoffieTas, .tasZonderOor {
    display: grid;
    grid-template-columns: repeat(auto-fit, 272px);
    grid-gap: 20px;
}

main section img {
    border-bottom: black 1px dashed;
}

main section a {
    display: block;
    border: black 1px solid;
    text-decoration: none;
    color: black;
}

h3 {
    grid-column: 1 / -1;
}

.title {
    font-size: 24px;
    font-variant: small-caps;
    text-decoration: underline;
}

.cilinderTas article, .curvedKoffieTas article, .tasZonderOor article {
    text-align: center;
}
/*js filter*/
.hidden {
    display: none  !important; /* filter 1 heeft hogere specificiteit dus is wel nodig */
    color: red;
}


/*Media querry (Tablet) TODO*/
@media screen and (max-width: 768px) {
    /** {*/
    /*    background: green;*/
    /*}*/
    .filter {
        min-width: 163px;
    }
}

/*Media querry (Phones) TODO*/
@media screen and (max-width: 500px) {
    /** {*/
    /*    background: yellow;*/
    /*}*/
    main {
        flex-direction: column;
    }

    .filter form {
        margin-top: 20px;
    }

    .cilinderTas, .curvedKoffieTas, .tasZonderOor {
        margin-left: 50px;
    }
}
