/*drop headers*/
.drop {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    left: -10000px;
}

body {
    margin: 0;
    padding: 0;
}

/*Header styling*/
.companyHeader {
    display: flex;
    align-items: center;
    justify-content: center; /* here */
    background-color: darkcyan;
    color: white;
}

.companyHeader img {
    display: inline-block;
    width: 32px;
    height: auto;
    padding: 5px;
}

.companyHeader a { /*found to remove studid a tag shit*/
    display: inline-block;
    width: 42px;
    height: 42px;
}

.companyHeader p {
    margin: 0;
    padding-left: 10px;
}

/*nav styling*/
nav {
    background: lightgray;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a, nav img {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

nav a:hover, nav img:hover {
    background-color: black;
    color: white;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: lightgray;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    justify-content: center;
    text-align: center;
}

.activePage {
    background: #646464
}

/*footer styling*/
footer {
    color: darkgrey;
    padding-top: 10px;
    text-align: center;
}


/*Media querry (hamburger menu) TODO*/

nav img {
    display: none;
}

@media screen and (max-width: 750px) {

    nav img {
        display: block;
    }
    nav ul {
        justify-content: right;
        flex-direction: column;
    }
    nav a {
        display: none;
    }
    .dropdown-content{
        position: relative;
    }

}